<h1 mat-dialog-title>
  {{ data.id_especie == undefined ? "Añadir" : "Modificar" }} Especie
</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Nombre de especie</mat-label>
    <input matInput [(ngModel)]="data.nombre_especie" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    {{ data.id_especie == undefined ? "Añadir" : "Modificar" }}
  </button>
</div>
