<h1 mat-dialog-title>
  {{ data.id_cuidador == undefined ? "Añadir" : "Modificar" }} Cuidador
</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>RFC</mat-label>
    <input matInput [(ngModel)]="data.rfc" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Nombre de cuidador</mat-label>
    <input matInput [(ngModel)]="data.nombre_cuidador" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Telefono</mat-label>
    <input matInput [(ngModel)]="data.telefono" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    {{ data.id_cuidador == undefined ? "Añadir" : "Modificar" }}
  </button>
</div>
