<h1 mat-dialog-title>
  {{ data.id_tipo == undefined ? "Añadir" : "Modificar" }} Tipo
</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Tipo</mat-label>
    <input matInput [(ngModel)]="data.nombre_tipo" />
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="data.descripcion_tipo"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    {{ data.id_tipo == undefined ? "Añadir" : "Modificar" }}
  </button>
</div>
